body{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.btn{background-color: rgb(0, 152, 0);}
.btn:hover{background-color: rgb(0, 88, 0);}
h1{border-bottom: 5px solid rgb(0, 152, 0);}
#content{border-left: 5px solid rgb(0, 152, 0);}