body{font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-weight: lighter;}
.btn{background-color: blue;}
.btn:hover{background-color: rgb(0, 0, 174);}
h1{border-bottom: 5px solid blue;}
#content{border-left: 5px solid blue;}